
          <tr>
              <th colspan="3"><h3>5. Änderungskosten kalkulieren<h3></th>
          </tr>
          <tr>
              <td class="rotate" rowspan="3">Projektleitung</td>
              <td>Alle anfallenden Änderungskosten in einer Kalkulation zusammenfassen<br>
                  und an den Kunden kommunizieren.<br><br>
              </td>
          </tr>
          <tr>
              <td><b>Änderungskosten kalkuliert: </b>Ja</td>
          </tr>
          <tr>
              <td><b>Angebot der Änderungskosten an Kunden geschickt: </b>Ja</td>
          </tr>
          <tr>
              <td colspan="2">t.eder, 29.01.24</td>
          </tr>
