<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eintrag erstellen</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>


<body>

    {% include 'header.html' %}

    <div class="container" style="float: auto;">
      <h2>Änderungsmappe erfassen</h2>

        <form action="/add" method="POST" class="add-task">
            <div style="margin-left: 730px;"><button type="submit">Speichern</button></div>
        <div style="float: left;">


              <table id="foldersec">

                  <tr style="background-color: lightblue"><td colspan="2"><h3>ECR - Änderungsantrag</h3></td></tr>
                          <tr><th colspan="3"><h3>1. Erfassung<h3></th></tr>
                              <tr>
                                  <td class="rotate" rowspan="5">Backoffice</td>
                                  <td>Der interne oder externe Änderungsantrag wird im Backoffice im System angelegt und die Grunddaten gepflegt.</td>
                              </tr>
                              <tr><td id="data"><b>Greipl-Nummer: </b><input type="text" name="GGNR" placeholder="Greipl Nummer" required></td></tr>
                              <tr>
                                  <td><b>Typ: </b><br><br>
                                      <div>
                                            <fieldset>
                                                <input type="radio" id="ÄMT" name="typ" value="ÄMT">
                                                <label for="ÄMT">Änderung</label>
                                                <input type="radio" id="NT" name="typ" value="NT">
                                                <label for="NT">Neuteil</label>
                                                <input type="radio" id="AA" name="typ" value="AA">
                                                <label for="AA"> Anweisung</label>
                                            </fieldset>
                                            <p></p>
                                    </div>
                                  </td>
                              </tr>
                              <tr><td><b>Bezeichnung: </b>Bezeichnung aus Infra</td></tr>
                              <tr><td><b>Vorgang: </b><input type="text" name="vorgang" placeholder="Vorgang" required></td></tr>
                              <tr><td colspan="2">{{ task.user }}, {{ task.creationDate }} </td></tr>


                  <tr>{% include 'changefolder/2_bewertung.html' %}</tr>
                  <tr>{% include 'changefolder/3_ausarbeiten.html' %}</tr>
                  <tr>{% include 'changefolder/4_bestaende.html' %}</tr>
                  <tr>{% include 'changefolder/5_kalkulation.html' %}</tr>
                  <tr>{% include 'changefolder/6_freigabe.html' %}</tr>
                  <tr style="background-color: orange"><td colspan="2"><h3>ECO - Änderungsauftrag</h3></td></tr>
                  <tr>{% include 'changefolder/7_termin.html' %}</tr>
                  <tr>{% include 'changefolder/8_kickoff.html' %}</tr>
                  <tr>{% include 'changefolder/9_einpflegen.html' %}</tr>
              </table>

        </form>
    </div>
    <div style="clear: both;"></div>
    </div>
</body>
</html>