<!DOCTYPE html>
<html lang="en">
<head>
    <title>PM Eintrag bearbeiten</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

{% include 'header.html' %}
<div class="container" style="float: auto;">
    <h2>Bewertung der Änderungsmappe</h2>
    <h2>Änderungsmappe Nr.: {{ task.id }}</h2>
    <form action="/categorize/add/{{ task.id }}" method="POST" class="add-task">
        <div style="float: left;">
            <table id="foldersec">
                <tr style="background-color: lightblue"><td colspan="2"><h3>ECR - Änderungsantrag</h3></td></tr>
                <tr>{% include 'changefolder/1_erfassung.html' %}</tr>
                <tr>
                    <th colspan="3"><h3>2. Änderungsmappe bewerten<h3></th>
                </tr>
                <tr>
                    <td class="rotate" rowspan="2">Projektleitung</td>
                    <td>Einstufung der der Änderungsmappe in Kategorie A oder B.<br>
                        <u>Änderungskategorie A:</u><br>
                        Einfache Änderung mit nur wenig betroffenen Teilen z.B. Anpassung einer Bohrung in einem Blechteil.<br>
                        Die Ausarbeitung der Änderungsmappe wird von der Projektleitung übernommen.<br>
                        <u>Änderungskategorie B:</u><br>
                        Komplexere Änderung mit mehreren betroffenen Teilen oder komplexe Einzeländerung.<br>
                        Ausarbeitung der Änderungsmappe übernimmt die TAV.
                        <br><br>
                        <select name="change_kat" id="change_kat">
                            <option value="A">A - Einfache Änderung</option>
                            <option value="B">B- Komplexe Änderung</option>
                        </select>
                        <br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Zuständiger Projektleiter: </b><br><br>
                        <select name="leader" id="leader">
                            {% for user in user %}
                            {% if user.role == "PM" %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">t.eder, 29.01.24</td>
                </tr>
            </table>
        </div>
        {% include 'comment.html' %}
        <div style="margin-left: 730px;"><button type="submit">Abschließen</button></div>

        <table id="foldersec">
            <tr>{% include 'changefolder/3_ausarbeiten.html' %}</tr>
            <tr>{% include 'changefolder/4_bestaende.html' %}</tr>
            <tr>{% include 'changefolder/5_kalkulation.html' %}</tr>
            <tr>{% include 'changefolder/6_freigabe.html' %}</tr>
            <tr style="background-color: orange"><td colspan="2"><h3>ECO - Änderungsauftrag</h3></td></tr>
            <tr>{% include 'changefolder/7_termin.html' %}</tr>
            <tr>{% include 'changefolder/8_kickoff.html' %}</tr>
            <tr>{% include 'changefolder/9_einpflegen.html' %}</tr>
        </table>
    </form>
</div>
</body>
</html>


