<!DOCTYPE html>
<html>
<head>
    <title>ÄMT/NT-Liste</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>

{% include 'header.html' %}

    <div class="container">
        <h2>Aktive Änderungsmappen:</h2>

            <table id="table1">
                   <tr>
                       <th>Anzeigen</th>
                       <th>Typ</th>
                       <th>ÄMT-Nr.</th>
                       <th>Vorgang</th>
                       <th>Status</th>
                       <th>Greipl-Nr.</th>
                       <th>Bezeichnung</th>
                       <th>Ersteller</th>
                       <th>Projektleitung</th>
                       <th>Termin</th>

                   </tr>

                {% for task in tasks %}
                    {% if not task.completed %}

                        <tr class="task {% if task.completed %}completed{% endif %}">

                            <td><center><a href="/index/{{ task.id }}" style="background-color: transparent; padding-top:3px;"><img class="icon" src="{{ url_for('static', filename='list.png') }}" alt="Icon"></a></center></td>
                            <td>{{ task.typ }}</td>
                            <td>{{ task.AMTNR }}</td>
                            <td>{{ task.vorgang }}</td>
                            <td>
                                {% include 'state.html' %}
                            </td>
                            <td>{{ task.GGNR }}</td>
                            <td>Bezeichnung aus Infra</td>
                            <td>{{ task.user }}, {{ task.creationDate }} </td>
                            <td> {{ task.leader }} </td>
                            <td> {{ task.desiredDate }} </td>
                        </tr>

                    {% endif %}
                {% endfor %}
            </table>

        <p style="font-size:8px; float: right; color: lightgrey">Tobias Eder 2023</p>
    </div>

</body>
</html>
