<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bestände erfassen</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

        <div class="header">
            <div style="float: left; padding-left: 50px; padding-top: 35px;"><img src="{{ url_for('static', filename='logo-weiss.svg') }}" alt="Greipl Logo" height="75"></div>
            <div class="navbar">
                <a href="/PM" class="active-link">Zurück</a>
            </div>
        </div>



    <div class="container">



                    <p style="background-color: #0b2945; color: white; padding: 10px; margin: 0px; width: 80%">Bestände erfassen</p>
                    <div>
                        <h3>Grunddaten:</h3>
                        <table id="table1">
                               <tr>
                                        <th>Typ</th>
                                        <th>Greipl-Nr.</th>
                                        <th>Bezeichnung</th>
                                        <th>Vorgang</th>
                                        <th>Ersteller</th>
                                        <th>Projektleitung</th>
                               </tr>

                                <tr>
                                        <td>{{ task.typ }}</td>
                                        <td>{{ task.GGNR }}</td>
                                        <td>Bezeichnung aus Infra</td>
                                        <td>{{ task.vorgang }}</td>
                                        <td>{{ task.user }}, {{ task.creationDate }} </td>
                                        <td> {{ task.leader }} </td>
                                </tr>
                        </table>
                    </div>

            <div>
                     <h3>Betroffene Teile aus {{ task.AMTNR }}:</h3>
                     <table id="table1">
                           <tr>
                                    <th>Greipl-Nr.</th>
                                    <th>Bezeichnung</th>
                                    <th>Aktuelle Rev</th>
                                    <th>Neue Rev</th>
                                    <th>Gültigkeit</th>
                                    <th>Beschreibung</th>
                                    <th style="width: 100px;">Lagerbestand</th>
                                    <th style="width: 100px;">Fertigungsbestand</th>
                                    <th style="width: 100px;">Zulauf</th>
                                    <th></th>
                           </tr>
                            {% for amt_part in amt_parts %}

                                {% if amt_part.AMTNR_PART == task.AMTNR %}
                                    <tr>
                                        <form  action="/stockrecord/part/addstock/{{ amt_part.id }}/{{task.id}}" method="POST" class="add-task" style="width: 80%">
                                            <td>{{ amt_part.GGNR_PART }}</td>
                                            <td>Bezeichnung aus Infra</td>
                                            <td>{{ amt_part.REV_PART }}</td>
                                            <td>{{ amt_part.REV_new_PART }}</td>
                                            <td>
                                                {% if amt_part.valid_PART == False %}
                                                    Neuauftrag
                                                {% elif amt_part.valid_PART == True %}
                                                    Sofort
                                                {% endif %}
                                            </td>
                                            <td>{{ amt_part.note_PART }}</td>
                                            <td>
                                                {% if amt_part.stock_PART == none%}
                                                    <input id="table_input" type="text" name="stock_PART" placeholder="Menge" style="width: 80px;" >
                                                {% else %}
                                                    {{ amt_part.stock_PART }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if amt_part.productionstock_PART == none%}
                                                    <input id="table_input" type="text" name="productionstock_PART" placeholder="Menge" style="width: 80px;">
                                                {% else %}
                                                    {{ amt_part.productionstock_PART }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if amt_part.orderstock_PART == none%}
                                                    <input id="table_input" type="text" name="orderstock_PART" placeholder="Menge" style="width: 80px;">
                                                {% else %}
                                                    {{ amt_part.orderstock_PART }}
                                                {% endif %}
                                            </td>
                                            <td><button type="submit">Speichern</button></td>
                                        </form>
                                    </tr>
                                 {% endif %}
                            {% endfor %}
                     </table>
            </div>
            <form action="/stockrecord/add/{{ task.id }}" method="POST" style="width: 80%">
                <div>
                    {% include 'comment.html' %}
                    <button type="submit">Abschließen</button>
                </div>

            </form>

        </div>

</body>
</html>


