<!DOCTYPE html>
<html>
<head>
    <title>Anmelden</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>

{% include 'header.html' %}

    <div class="container">
            <table>
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Rolle</th>
                    <th></th>
                </tr>
                <tr style="border-bottom: 1px solid; border-right: 1px solid; border-left: 1px solid;" >
                    <td>{{ User.username }}</td>
                    <td>{{ User.usermail }}</td>
                    <td>{{ User.role }}

                    </td>
                    <td><center><a href="/user/edit/{{ User.id }}" style="background-color: transparent; padding-top:3px;"><img class="icon" src="{{ url_for('static', filename='edit.png') }}" alt="Icon"></a></center></td>
                </tr>
            </table>

        <p style="font-size:8px; float: right; color: lightgrey">Tobias Eder 2023</p>
    </div>

</body>
</html>
